<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dm.mapper.ScriptMapper">
    <resultMap id="scriptMap" type="com.example.dm.entity.Script">
        <id column="id" property="id"/>
        <result column="script_name" property="scriptName"/>
        <result column="type" property="type"/>
        <result column="difficulty" property="difficulty"/>
        <result column="need_dm_level" property="needDmLevel"/>
        <result column="max_players" property="maxPlayers"/>
    </resultMap>
    
    <select id="selectById" resultMap="scriptMap">
        SELECT * FROM script WHERE id = #{id}
    </select>
    
    <select id="selectAll" resultMap="scriptMap">
        SELECT * FROM script
    </select>
    
    <select id="selectByType" resultMap="scriptMap">
        SELECT * FROM script WHERE type = #{type}
    </select>
    
    <insert id="insert" parameterType="com.example.dm.entity.Script">
        INSERT INTO script(script_name, type, difficulty, need_dm_level, max_players)
        VALUES(#{scriptName}, #{type}, #{difficulty}, #{needDmLevel}, #{maxPlayers})
    </insert>
    
    <update id="update" parameterType="com.example.dm.entity.Script">
        UPDATE script
        SET script_name = #{scriptName}, type = #{type}, difficulty = #{difficulty}, need_dm_level = #{needDmLevel}, max_players = #{maxPlayers}
        WHERE id = #{id}
    </update>
    
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM script WHERE id = #{id}
    </delete>
</mapper>