<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dm.mapper.SessionMapper">
    <resultMap id="sessionMap" type="com.example.dm.entity.Session">
        <id column="id" property="id"/>
        <result column="script_id" property="scriptId"/>
        <result column="dm_id" property="dmId"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="status" property="status"/>
    </resultMap>
    
    <select id="selectById" resultMap="sessionMap">
        SELECT * FROM session WHERE id = #{id}
    </select>
    
    <select id="selectAll" resultMap="sessionMap">
        SELECT * FROM session
    </select>
    
    <select id="selectByDmId" resultMap="sessionMap">
        SELECT * FROM session WHERE dm_id = #{dmId}
    </select>
    
    <select id="selectByTimeRange" resultMap="sessionMap">
        SELECT * FROM session
        WHERE (start_time BETWEEN #{startTime} AND #{endTime})
        OR (end_time BETWEEN #{startTime} AND #{endTime})
        OR (start_time <= #{startTime} AND end_time >= #{endTime})
    </select>
    
    <insert id="insert" parameterType="com.example.dm.entity.Session">
        INSERT INTO session(script_id, dm_id, start_time, end_time, status)
        VALUES(#{scriptId}, #{dmId}, #{startTime}, #{endTime}, #{status})
    </insert>
    
    <update id="update" parameterType="com.example.dm.entity.Session">
        UPDATE session
        SET script_id = #{scriptId}, dm_id = #{dmId}, start_time = #{startTime}, end_time = #{endTime}, status = #{status}
        WHERE id = #{id}
    </update>
    
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM session WHERE id = #{id}
    </delete>
</mapper>